body {

	background-color:lightblue;
	color: magenta;
	padding:60px;
	margin-left:30px
}

header {border:2px dashed;
        color:green;
        font-size:40px;
        }
h {color:red;
   font:30px bold;
   }
 p {color:black;
    font:18px helvitica;
    }
  
 td {border:1px solid yellow;
 }
 
 
button {
  background-color: yellow;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}



