body {

	background-color:lightblue;
	color: magenta;
}

div#bandeau {
	width:1020px;
	height:100px;
	background-color:#00CCFF;
	}
div#contenu {
	width:1020px;
	height:500px;
	background-color:#FFCC00;
	}
div#piedpage {
	width:1020px;
	height:100px;
	background-color:#33FF99;
	}
img {
     position:center;
}
