header {border:2px dashed;
        color:red;
        font-size:40px;
        
        Animation-name : anima ;
        Animation-delay : 4s ;
        Animation-duration : 5s ;
        Animation-iteration-count : infinite ;
}

body {
        background-image:url("zellij.png");
	background-color:palegreen;
	color: sienna;
	padding:60px;
	margin-left:40px;
}

h {color:red;
   font:20px bold;
   }
   
 p {color:black;
    font:18px helvitica;
    }
  
 td {border:1px solid yellow;
 }
 a:link{color:blue;
 }
 a:visited{color:magenta;
          
 }
 a:hover{color:green;
          text-decoration:none;
           font-weight:bold;
 }
 a:active{color:red;
 }
 
 
@keyframes anima {
From {
Opacity : 1 ;
}
To {
Opacity : 0 ;
}
}
 
div#bandeau {
	width:1080px;
	height:300px;
	background-color:#00CCFF;
	}
div#contenu1 {font-size:25px;
	width:1080px;
	height:300px;
	background-color:#FFCC00;
	
	
	
	}
	
div#contenu2 {
	width:1080px;
	height:300px;
	background-color:khaki;
	
	
	}
div#piedpage {
	width:1080px;
	height:100px;
	background-color:#33FF99;
	}

h {
  animation-duration: 3s;
  animation-name: parc;
}

@keyframes parc {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}






