body {background-color:linen;
      margin-left:60px;
      margin-right:80px;
}
h {color:red;
   font:30px bold;
   }
   
 p {color:black;
    font:18px helvitica;
    }
    
 div { color: blue;
  border: 2px solid black;
  width:300;
 }
 
 
  h {
  animation-duration: 3s;
  animation-name: parc;
}

@keyframes parc {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

